@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /* Add this line */
  overflow: hidden; /* Add this line */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*overflow-x: hidden; !* Add this line *!*/

}
.container {
  text-align: center;
  height: 100vh; /* Add this line */
}

.nav {
  font-size: 1.3rem;
  background-color: #151515;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navTitleImage img {
  height: 50px;
  width: auto;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover, .nav li.active{
  color: #F49700;
  box-shadow: inset 0 -1px 0 #F49700;
}
