body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden; /* Add this line */

}
.container {
  /*margin: 1rem;*/
  text-align: center;
}

.nav {
  background-color: #151515;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navTitle {
  font-weight: bold;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li:hover, .nav li.active{
  color: #F49700;
  box-shadow: inset 0 -1px 0 #F49700;
}


/* -------- SIDE PANEL --------*/

.side-panel {
  height: 100vh;
  width: 30vw;
  margin-left: 70vw;
  background-color: #f2f2f2; /* Change this line */
  text-align: center;
  transition: margin-left 0.2s ease-in-out; /* Add this line */
}

.side-panel-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 2rem;
  margin-top: 0;
}

.side-panel-content {
  padding: 1rem;
  height: 100%;
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100%;*/
}

.form-container button {
  align-self: flex-start; /* Aligns the first button to the left */
}

.form-container button:last-child {
  align-self: flex-end; /* Aligns the last button to the right */
}

.row {
  display: flex;
  justify-content: space-between;
}

.row input, .row select {
  flex-basis: 50%;
  box-sizing: border-box;
}

/* Add this media query */
@media (max-width: 1100px) {
  .row {
    flex-direction: column;
  }

  .row input, .row select {
    flex-basis: 100%;
  }
}

.fab {
  width: 56px;
  height: 56px;
  background-color: #F49700;

  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 56px;

  position: fixed;
  right: 16px;
  bottom: 16px;

  cursor: pointer;
  z-index: 1000;


  border: none; /* remove default border */
  outline: none; /* remove focus outline */
  -webkit-appearance: none; /* remove default button styles in WebKit browsers */
  -moz-appearance: none; /* remove default button styles in Firefox */
  appearance: none; /* remove default button styles in modern browsers */
}

/*.fab:hover {*/
/*  box-shadow: 0 6px 14px 0 #666;*/
/*  transform: scale(1.05);*/
/*}*/

