.side-panel {
    height: calc(100vh - 90px);
    width: 30vw;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    padding-top: 20px;
    transition: right 0.3s ease-in-out;
}

.side-panel-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 2rem;
    margin-top: 0;
}