.customersContent {
    display: flex;
    height: 100%;
}

.fab {
    position: fixed;
    right: 16px;
    bottom: 16px;
    padding: 0 16px;
    height: 48px;
    background-color: #F49700;
    font-size: 24px;
    color: white;
    text-align: center;
    border: none;
    z-index: 1000;
}

.fab span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.fab span.rotate {
    transform: rotate(45deg);
}

.fab, .submit-fab:hover {
    cursor: pointer;
}

/* Side panel content*/

.side-panel-content {
    padding: 1rem;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], select, textarea#description, #materials {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.invalid {
    border-color: red !important;
}

textarea#description, #materials {
    resize: none;
    height: 8em;
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container button {
    align-self: flex-start;
}

.form-container button:last-child {
    align-self: flex-end;
}

@media (max-width: 1100px) {
    .row {
        flex-direction: column;
    }

    .row input, .row select {
        flex-basis: 100%;
    }
}

.title {
    margin: 30px;
}

.email {
    margin-bottom: 20px;
    width: fit-content;
}

/*-------------------*/